

h1 img {
	
		width: 1245px;
		height:200px;
		position:absolute;
		top:20;
}
.sacola {
	
	background-image: url('../Images/sacola.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 0px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1180px;
						
						height:60px;
						
						position:absolute;
						
						margin-top:70px;
						top:0;
}
						
.container-Logo	{	
	
background-image: url('../Images/Magalu.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 200px;
						
						height:35px;
						
						position:absolute;
						
						margin-top:130px;
						top:0;
}
.container-Magalu	{	
	
background-image: url('../Images/Logo-Magalu.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 50px;
						
						height:90px;
						
						position:absolute;
						
						margin-top:0px;
						top:0;
}
.container-Frete	{	
	
background-image: url('../Images/Frete.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 3px;
						
						text-align: right;
						
						width:890px;
						
						height:90px;
						
						position:absolute;
						
						margin-top:5;
						
						top:-90px;
}
